[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scraperwiki = {git = "https://github.com/nickjevershed/scraperwiki-python-310"}
pandas = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
